<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="address" class="com.kuang.pojo.Address"/>

    <bean id="student" class="com.kuang.pojo.Student">
<!--        第一种,普通值注入,value-->
        <property name="name" value="小阳"/>
<!--        第二种,Bean注入，ref-->
        <property name="address" ref="address"/>
<!--        数组注入,ref-->
        <property name="books">
            <array>
                <value>唐人街探案1</value>
                <value>唐人街探案2</value>
                <value>唐人街探案3</value>
                <value>唐人街探案4</value>
            </array>
        </property>

<!--        List-->
        <property name="hobbys">
            <list>
                <value>烹饪</value>
                <value>听歌</value>
                <value>自由自在</value>
                <value>旅游</value>
            </list>
        </property>
<!--        map-->
        <property name="card">
            <map>
                <entry key="身份证" value="431124200212160319"/>
                <entry key="银行卡" value="111112222233334444"/>

            </map>
        </property>

<!--        set-->
        <property name="games">
            <set>
                <value>战地5</value>
                <value>彩六</value>
                <value>Dying Light2</value>
            </set>
        </property>

<!--        null-->
        <property name="wife">
            <null/>
        </property>

<!--        Properties-->
        <property name="info">
            <props>
                <prop key="driver">20220407</prop>
                <prop key="url">男</prop>
                <prop key="username">root</prop>
                <prop key="password">123456</prop>
            </props>
        </property>
    </bean>
</beans>